{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row-my">
        <div class="card-my big">
            <div class="gif">
                <img class="gif" src="{% static 'gif2.gif' %}">
            </div>
            <div class="text">
                <h1>Pong</h1>
                <p class="text-inside">Play an incredible game of PONG and enjoy yourself to your fullest!
                    Compete against your friends and become the ultimate player!</p>
                <button>Play Now!</button>
            </div>
        </div>
        <div class="card-my small">
            <h1>My Page</h1>
            <p>Lorem ipsum text.</p>
            <div>A card.</div>
        </div>
    </div>
    <div class="row-my">
        <div class="card-my small">
            <h1>My Page</h1>
            <p>Lorem ipsum text.</p>
            <div>A card.</div>
        </div>
        <div class="card-my big">
            <div class="gif">
                <img class="gif" src="{% static 'gif2.gif' %}">
            </div>
            <div class="text">
                <h1>Not Pong</h1>
                <p class="text-inside">Play an incredible game of NOT PONG and enjoy yourself to your fullest!
                    Compete against your friends and become the ultimate player!</p>
                <button>Play Now!</button>
            </div>
        </div>
    </div>
{% endblock %}