{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}


<div class="row-my">
{#    {% render_game_menu "Pong" "Pong" "game_menu" "game_lobby" %}#}
{#    {% render_game_menu "Not Pong" "Not Pong" "game_menu" "game_lobby" %}#}
</div>

{#{% include 'game/game_lobby.html' %}#}

    
{#<h1> Pong Game </h1>#}

{#<canvas class="pong-game" id="PongCanvas"></canvas>#}
{#<p> {{ lobby.lobby_id }} -> {{ lobby.state }} -> {{ lobby.player_count }} -> {{ lobby.lobby_full }} </p>#}
{#{% for user in lobby.users.all %}#}
{#    <li>{{ user.username }}</li>#}
{#{% endfor %}#}
{#<script src="{% static 'js/pong.js' %}"></script>#}
{#<script src="{% static 'js/lobby_ws.js' %}"></script>#}
{% endblock %}