<!-- templates/profile.html -->
{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}
{% load widget_tweaks %}


<div class="row-my">
    <div class="card-my small">
        <h2 class="user-profile-text" >User Profile</h2>
        <form class="profile" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="form-p ">
	            <div class="profile-item">
	                <h3 class="text-profile"> Username </h3>
	                {% render_field form.username %}
	            </div>
	            <div class="profile-item">
	                <h3 class ="text-profile"> Bio </h3>
	                {% render_field form.bio %}
	            </div>
				<div class="profile-item">
		            <h3 class="text-profile">Email</h3>
		            {% render_field form.email %}
				</div>
            </div>
            <button type="submit" class="button">Update Profile</button>
            <a class="icon margin button" href="{% url 'logout' %}">Logout</a>
        </form>
    </div>
</div>
{% endblock %}
