<!-- templates/registration/register.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row-my">
    <div class="card-my small">
        <h2>Register</h2>
        <form method="post" class="profile" enctype="multipart/form-data" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-p">
                {{ form.as_p }}
            </div>
            <button type="submit" class="button">Register</button>
        </form>
    </div>
</div>
{% endblock %}
