{% load static %}


<div class="col-md-9 mb-4">
    <div class="card rounded-6 bg-radial-fill-card border-solid-gray-1">
        <div class="card-body text-whitesmoke d-flex flex-row justify-content-center align-items-center mx-5 my-5">
        {# Gif Image #}
            <div class="gif mx-5">
                <img src={% static 'gif2.gif' %} alt="{% static 'gif2.gif' %}">
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center gap-0">
                <h1 class=""> {{ title }} </h1>
                <div class="shadow rounded-4 text-inside-border-solid w-80 mb-3">
                    <p class="text-whitesmoke m-3 text-center">
                        Play an incredible game of {{ title }} and enjoy yourself to your fullest! Compete against your friends and become the ultimate player
                    </p>
                </div>
                {% if user.is_authenticated %}
                <div class="btn btn-primary rounded-4 border-0 w-3 bg-transparent">
                    <a class="text-whitesmoke text-decoration-none">
                    <a class="text-whitesmoke" href="{% url 'game' %}">
                        <button class="text-center">Play Now game!</button>
                    </a>
                    </a>
                </div>
                {% else %}
                <a class="text-whitesmoke text-decoration-none">
                <a class="text-whitesmoke" href="{% url 'tictac' %}">
                    <button class="text-center">Play Now tictac!</button>
                </a>
                {% if title == 'Not Pong' %}
                    <a class="text-whitesmoke" href="{% url 'localgame' %}">
                        <button class="text-center">Play Now game local!</button>
                    </a>
                {% else %}
                    <a class="text-whitesmoke" href="{% url 'game' %}">
                        <button class="text-center">Play Now online!</button>
                    </a>
                {% endif %}

                </a>
                {% endif %}

            </div>
        </div>
    </div>
</div>