{% extends 'transcendence/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load registration_tags %}
{% load widget_tweaks %}
{% block content %}


<script>

    document.addEventListener('DOMContentLoaded', function() {
    let fileInput = document.getElementById('registration-file-input');
    let selectedImageName = document.getElementById('selected-image-name');
        fileInput.addEventListener('change', function() {  
            if (fileInput.files.length > 0) {    
            selectedImageName.textContent = fileInput.files[0].name;
            }
        })
    });

</script>

<div class="card rounded-6 bg-radial-fill-card bg-image border-solid-gray-1 text-whitesmoke">
    <div class="card-overlay z-0 rounded-6"></div>
    <div class="card-body d-flex-align-center-col z-1">
        <h2>Registration</h2>
        <form method="post" class="container" enctype="multipart/form-data" action="{% url 'registration' %}">
            <div class="d-flex-align-center-col m-5 gap-3">
                {% csrf_token %}
                    {% render_form_field form "username" "" %}
                    {% render_form_field form "email" "" %}
                    {% render_form_field form "bio" "" %}
                    {% include 'accounts/registration_helpers/picture_field.html' %}
                    {% render_pass_field form "password2" "" "Password (again)" %}
                    {% include 'accounts/registration_helpers/form_errors.html' %}
                <button type="submit" class="button">Register</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}