{% extends 'transcendence/base.html' %}
{% load static %}
{% block content %}
<style>
    canvas {
        background: black;
        display: block;
        margin: auto;
        width: 50vw;
        height: 50vh
    }
</style>

<canvas id="pongCanvas"></canvas>
<script>

    const canvas = document.getElementById('pongCanvas');
    const context = canvas.getContext('2d');
    let x_speed = 0
    let y_speed = 0
    // let circle_x = 0;
    // let circle_y = 0;

    let lastTime = performance.now();

    const ws = new WebSocket('ws://' + window.location.host + '/ws/game/');

    function drawText(text, x, y, size) {


        context.fillStyle = 'white';
        context.font = size + 'px Arial';
        context.fillText(text, x, y);
    }

    ws.onmessage = function (event) {

        const data = JSON.parse(event.data);
        // Handle incoming data
        console.log(data)
        if (data.type === 'game') {



            context.clearRect(0, 0, canvas.width, canvas.height);
            drawBar(data.left_bar_x, data.left_bar_y, 10, canvas.height / 10)
            drawBar(data.right_bar_x, data.right_bar_y, 10, canvas.height / 10)

            drawCircle(data.circle_x, data.circle_y);
            drawText(data.score_left + ':' + data.score_right, canvas.width / 2 - 15, 20, 20)


        }
    };



    // Function to draw circle
    function drawCircle(x, y) {

        context.beginPath();
        context.arc(x / 100 * canvas.width, y / 100 * canvas.height, canvas.height / 20, 0, Math.PI * 2);
        context.fillStyle = 'white';
        context.fill();
    }

    function drawBar(x, y, width, height) {
        context.beginPath();
        context.rect(x / 100 * canvas.width, y / 100 * canvas.height, canvas.width / 50, canvas.height / 10);
        context.fillStyle = 'white';
        context.fill();
    }

    // Send key press data to WebSocket

    document.addEventListener('keydown', (event) => {
        const data = {
            type: 'key_down',
            key: event.key
        };
        ws.send(JSON.stringify(data));
    });

    setInterval(() => {
        ws.send(JSON.stringify({"type": "update"}));
    }, 5);

    document.addEventListener('keyup', (event) => {
        const data = {
            type: 'key_up',
            key: event.key
        };
        ws.send(JSON.stringify(data));
    });
</script>
</body>
{% endblock %}
