{% load widget_tweaks %}
{% load registration_tags %}

<div class="text-whitesmoke">
    {% if user.get_picture_url %}
        <img class="center-img-form mb-5" src="{{ user.picture.url }}" alt="Uploaded Image">
    {% else %}
        <h4>Upload picture (TODO)</h4>
    {% endif %}
        <div class="container mb-3">
            <h5> Nickname </h5>
            {% render_base_field form "nickname" "" %}
        </div>
        <div class="container mb-3">
            <h5> Bio </h5>
            {% render_base_field form "bio" "" %}
        </div>
        <div class="container mb-3">
            <h5>Email</h5>
            {% render_base_field form "email" "" %}
        </div>
        {% if user.username == logged_user.username %}
            <div class="mt-3 d-flex flex-column align-items-center">
                <button type="submit" class="mb-2 mt-4"> Update Profile </button>
                <a class="text-decoration-none text-whitesmoke" href="{% url 'logout' %}">
                    <button type="button"> Logout </button>
                </a>
            </div>
        {% endif %}
</div>

