<!-- templates/game_menu -->
{% load static %}
{% load custom_tags %}
{% load custom_filters %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}

<div class="card-my small">
    <h2> {{ title }} </h2>
    <div>
        <a class="btn-link-play">
            <div class="menu-btn-group">
                    <a class="btn-link-play" href="{{ play_link|dynamic_url }}">
                    <button >Play {{ game }}</button>
                </a>
                <a class="btn-link-play" href={{ lobby_link|dynamic_url }}>
                    <button>Multiplayer Lobby</button>
                </a>
            </div>
        </a>
    </div>
</div>
{% endblock %}