 <div class="chat-window-items">
{% for message in messages %}
    {% if message.sender == request.user %}
    <div class="chat-window-title">
        <div class="chat-title-icon">{{ initial }}</div>
        <div class="chat-title-name"> {{ other }} </div>
        <div class="chat-title-info"></div>
    </div>
    <div class="chat-window">
                <div class="window-bubble me">
                    <div class="bubble-me">
                        {{ message.content }}
                    </div>
                </div>
            {% else %}
        <div class="window-bubble other">
            <div class="bubble-me">
                {{ message.content }}
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="chat-window-message">
        <button id="chat-button" type="button" hx-ws="send"
                hx-include="[name='message']" hx-vals='js:{values: {"user": "{{ request.user.username }}", "other": clicked }}'
                hx-trigger="send-message from:chat-button"
                class="message-align"><i class="fa fa-paper-plane"></i></button>
        <label style="width: 100%">
            <input id="chat-input" name="message" class="message-align chat-message">
        </label>
    </div>
</div>