{% extends 'transcendence/base.html' %}
{% load static %}
{% load chat_tags %}
{% block content %}

<script>

    let clicked;


    document.addEventListener('DOMContentLoaded', (e) => {

    document.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            htmx.trigger(document.getElementById('chat-button'), 'send-message')
            document.getElementById('chat-input').value = ""
            setTimeout(scrollToBottom, 50)
        }
    })
        let chat_input = document.getElementById('chat-input')

        let buttons = document.querySelectorAll('.chat-button')
        buttons.forEach(function(button) {
            button.addEventListener('click', function(e) {
                const btn = button.querySelector('.btn-name')
                clicked = btn.innerHTML
                chat_input.focus()
            })
        })
    })


        // Function to scroll to the bottom of the chat window
        function scrollToBottom() {
            let chatWindow = document.getElementById('messages-update');
                let lastMessage = chatWindow.lastElementChild;
                if (lastMessage) {
                    lastMessage.scrollIntoView({ behavior: 'smooth', block: 'end' });
                }
        }


        function send_message() {
            let btn = document.getElementById('chat-button');
            let chat_input = document.getElementById('chat-input')
            htmx.trigger(btn, 'send-message')
            chat_input.value = ""
            chat_input.focus()
            setTimeout(scrollToBottom, 100)
        }


    // Add HTMX event listener for when the content is swapped
            document.body.addEventListener('htmx:afterSwap', (event) => {
                    scrollToBottom();
            });

            document.addEventListener('DOMContentLoaded', (event) => {
                // Scroll to bottom on initial load
                scrollToBottom();
            });

</script>

<div class="container clearfix chat-container">
<div class="chat-lists">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <i class="fa-brands fa-rocketchat title-icon chat-title"></i>
        <span class=ms-2></span> <!-- Add a space element here -->
        <span class="chat-title"> Pong Chat </span>
    </div>
    <div class="lists">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <i class="fas fa-user-friends title-icon list-type-title"></i>
             <span class="chat-title list-type-title">Friends</span>
        </div>
        <div class="groups">
            <div class="list">
                {% for friend in request.user.friends.all %}
                    {% list_button friend|stringformat:"s" '' %}
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div id="chat-window-container" class="chat-window-container">
       {% include 'chat/chat_window.html' %}
    </div>
</div>

{% endblock %}
