<!-- templates/navbar.html -->
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="row-my">
    <div class="card-my small">
        <h2 class="user-profile-text" >Room Creation</h2>
        <form class="profile" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="form-p ">
	            <div class="profile-item">
	                <h3 class="text-profile"> Room Name </h3>
	                {% render_field form.name %}
	            </div>
            </div>
            <div class="menu-btn-group row-btn">
                <a class="btn-link-play">
                    <button type="submit" class="button" id="btn-create-room-go">Create Room</button>
                </a>
                <a class="btn-link-play">
                    <button type="submit" class="button" id="btn-back-to-lobby">Back to Lobby</button>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}

