<!-- templates/game_lobby -->
{% load static %}
{% block content %}

<script src="{% static 'js/lobby-selected.js' %}"></script>
<script src="{% static 'js/lobby_ws.js' %}"></script>

<div class="container-lobby">
    <div class="card-my small-no-gap">
        <h1> Welcome to the lobby</h1>
        <h3 class="lobby-header"> Rooms </h3>
        <div class="lobby">
            <ul class="lobby-list">
                {% for room in rooms %}
                <li class="lobby-item"> {{ room.name }} </li>
                {% endfor %}
            </ul>
        </div>
       <div class="menu-btn-group row-btn" id="what">
           <a class="btn-link-play">
               <button type="button" id="create-room-content"> Create Room </button>
           </a>
           <a class="btn-link-play">
               <button> Join Room </button>
           </a>
       </div>
    </div>
</div>

{% endblock %}
