<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TransWeb{% endblock %}</title>
    <!-- Add your common CSS styles or links here -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'build/css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >

</head>
<body>
<div class="overlay"></div>
<main class="container" id="main-content">
    {% block content %}{% endblock %}
</main>
	{% include 'frontend/navbar/navbar.html' %}
</body>
</html>

