{% load static %}

<nav class="navbar position-relative vh-50 top-25 bg-navbar-extend">
    <div class="container flex-column bg-navbar rounded-start-5 w-100 gap-5">
        <div class="navbar-nav m-4 gap-2 p-2">
		    {% include 'frontend/navbar/index_icon.html' %}
		    {% include 'frontend/navbar/chat_icon.html' %}
		    {% include 'frontend/navbar/user_icon.html' %}
        </div>
        <div class="d-flex flex-column m-4 gap-3 p-2">
		    {% include 'frontend/navbar/question_icon.html' %}
		    {% include 'frontend/navbar/settings_icon.html' %}
        </div>
    </div>
</nav>
