{% load widget_tweaks %}
{% load registration_tags %}
{% load rest_framework %}

<!-- Modal -->

<script>
    document.addEventListener('keypress', function(event) {
        // Check if the key pressed is the key you're interested in (e.g., "Enter" key)
        if (event.key === 'z') {
            // Trigger a custom event on the #key-up element
            htmx.trigger(document.getElementById('key-up'), 'keyup');
        }
        else if (event.key === 'x') {
            htmx.trigger(document.getElementById('key-up'), 'keydown');
        }
    });
</script>

<div class="modal-content color-white" style="background-color: #702670">
    <div class="modal-header">
        <h1 class="modal-title fs-5 text-white mx-auto" id="exampleModalLabel">Create Room</h1>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div id="modal-body" class="modal-body mx-auto">
        <form id="create_room_form" name="form-create" hx-post="{% url 'lobby' game_lobby %}">
            <div class="d-flex flex-column gap-3 p-1">
                {% render_field_placeholder form "room_name" "" "Room Name" %}
                {% render_field_placeholder form "game_type" "" "Game Type" %}
            </div>
        </form>
            <div id="key-up" hx-ws="send" hx-trigger="keyup from:dialog, keydown" hx-vals="js:{keyPressed: event.type}"></div>
    </div>
    <div id="modal-footer" class="modal-footer justify-content-center flex-column">
        {% include 'accounts/base_templates/form_errors.html' %}
        <div class="modal-btn d-flex flex-row gap-4 m-1">
            <button id="btnSave" form="create_room_form" type="submit" class="btn rounded-pill"> Create </button>
            <button type="button" class="btn rounded-pill" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
