{% extends 'transcendence/base.html' %}
{% load registration_tags %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<script>

htmx.logAll()
document.addEventListener('DOMContentLoaded', function() {
// Get the parent element that contains the td elements you want to observe
    const targetNode = document.getElementById('lobby_table');
    const button = htmx.find('#join-room-btn');
    htmx.addClass(button, 'disabled');
    let found = false;
// Options for the observer (which mutations to observe)
    const config = { subtree: true, attributeFilter: ['class'] };

// Callback function to execute when mutations are observed
const callback = function(mutationsList, observer) {
    for (let mutation of mutationsList) {
        // Check if the mutation occurred on a td element
        if (mutation.target.tagName.toLowerCase() === 'tr') {
            // Check if the 'table-active' class has been added
            if (mutation.target.classList.contains('table-active')) {
                if (!found) {
                    htmx.removeClass(button, 'disabled')
                    found = true
                }
            }
        }
    }
};

// Create a MutationObserver instance linked to the callback function
const observer = new MutationObserver(callback);

// Start observing the target node for configured mutations
observer.observe(targetNode, config);
});

function join_room() {
    room_name = htmx.find('.table-active').querySelector('td#room_name').innerText;
    htmx.ajax('GET', '{% url 'lobby' %}', {
        headers: {
          "HX-Target": "join-room-btn"
        },
        values: {
            "room-name": room_name
        }
    })
}

</script>

<script src="{% static 'lobby/js/selected-room.js' %}"></script>
<script src="{% static 'lobby/js/scroll_to_bottom.js' %}"></script>
<div hx-ext="ws" ws-connect="/ws/lobby" class="container lobby d-flex border-solid-rebecca-purple-1">
    <div class="d-flex flex-1 position-relative flex-column align-items-center m-4">
        <div class="styled-lobby d-flex bg-black flex-column w-100 h-100 text-center align-items-center">
            <table id="lobby_table" class="">
                <caption class="text-center text-white" style="caption-side: top; bottom: 1rem; font-size: 18px;"> Rooms </caption>
                <thead>
                <tr>
                    <th scope="col">Room Name</th>
                    <th scope="col">gg</th>
                    <th scope="col">hh</th>
                    <th scope="col">tt</th>
                </tr>
                </thead>
                {% include 'lobby/lobby_room_partial_update.html' %}
            </table>
            <span class="container h-100"></span>
        </div>
        <div class="d-flex flex-row gap-5 mt-4 lobby-btn">
            <button id="create_room_button" class="" type="button"
                    hx-get="{% url 'lobby' %}"
                    hx-target="#dialog">
                    Create Room
            </button>
            <button id="join-room-btn" onclick="join_room()" type="button"> Join Room </button>
        </div>
    </div>
</div>

{% endblock %}


{% block modal_content %}

<div
     id="create_room_modal"
     class="modal lobby-modal"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
     <div id="dialog" class="modal-dialog modal-dialog-centered modal-sm" hx-target="this" style="right: 5rem;"></div>
</div>

{% endblock %}
