<!-- base.html -->
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TransWeb{% endblock %}</title>
    <!-- Add your common CSS styles or links here -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'build/css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_style.css' %} " >
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >#}
</head>

<body>
    <div class="main-container">
    <div class="overlay"></div>
        <main class="container z-1 d-flex justify-content-center align-items-center flex-column" id="main-content">
            {% include 'transcendence/messages.html' %}
            {% block content %}{% endblock %}
        </main>
        {% include 'transcendence/navbar.html' %}
    </div>
    {% block modal_content %}{% endblock %}
    <script src="{% static 'lobby/js/modal-hide.js' %}"></script>
</body>

</html>