<!-- templates/profile.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row-my">
    <div class="card-my small">
        <h2>User Profile</h2>
	            <h1>Picture</h1>
        <form  class="profile" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="form-p">

	            <img src="{{ CustomUser.image.url }}" alt="Uploaded Image">
                {{ form.as_p }}
            </div>
            <button type="submit" class="button">Update Profile now</button>
            <a class="icon margin button" href="{% url 'logout' %}">Logout</a>
        </form>
    </div>
</div>
{% endblock %}
